DWH-NonProd-ADF/linkedTemplates/ArmTemplate_22.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DWH-NonProd-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MasterPipeline_GlobalMain_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MasterUTCtag",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MasterUTCtag",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "RunPipelineMainMaster",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MasterUTCtag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipeline_Main_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunPipelineCleanupContainerRaw",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineCopyFailedBlobToFileshare",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PipelineCleanupContainer_raw_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunPipelineCleanupContainerScrubbed",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineCleanupContainerRaw",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PipelineCleanupContainer_scrubbed_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunPipelineCopyFailedBlobToFileshare",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineMainMaster",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PipelineCopyFailedBlobToFileshare_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunMasterPipelineSendMail",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineCleanupContainerScrubbed",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipelineSendMail_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Parent_DataFactory": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"Parent_Pipeline": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Master_Utc_Tag": {
									"value": "@variables('MasterUTCtag')",
									"type": "Expression"
								},
								"Run_Message_Success": "Global Pipeline completed successfully",
								"Run_Message_Fail": "Global Pipeline failed"
							}
						}
					}
				],
				"variables": {
					"PipelineName": {
						"type": "String",
						"defaultValue": "MasterPipeline_Global_pl"
					},
					"MasterUTCtag": {
						"type": "String",
						"defaultValue": "2019-11-07"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}