DWH-NonProd-ADF/linkedTemplates/ArmTemplate_20.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DWH-NonProd-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MasterPipeline_Sub3_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunPipelineOpsQuestions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MasterUTCtag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsquestions_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunPipelineOpsAnswers",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsQuestions",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsanswers_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsQuestions",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsQuestions",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsQuestions').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetVarOpsAnswers",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsAnswers",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsAnswers').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "MasterUTCtag",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MasterUTCtag",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_OpsAnswers",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_OpsAnswers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "SendFailMail_OpsQuestions",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_OpsQuestions",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "MasterPipelineSendMailAndLogStatus",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsSalesUnit",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipelineSendMail_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Parent_DataFactory": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"Parent_Pipeline": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Master_Utc_Tag": {
									"value": "@variables('MasterUTCtag')",
									"type": "Expression"
								},
								"Run_Message_Success": "MasterPipeline_Sub3_pl completed OK",
								"Run_Message_Fail": "MasterPipeline_Sub3_pl run failed"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_OpsAnswers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarOpsAnswers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateMasterRunLog_OpsQuestions",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarOpsQuestions",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "RunPipelineOpsIncident",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsAnswers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsincident_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsIncident",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsIncident",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsIncident').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_OpsIncident",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarOpsIncident",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendFailMail_OpsIncident",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_OpsIncident",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineOpsRiskOpportunity",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsIncident",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsriskopportunityreg_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsRskOpportunity",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsRiskOpportunity",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsRiskOpportunity').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_OpsRiskOpportunty",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarOpsRskOpportunity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendFailMail_OpsRiskOpportunity",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_OpsRiskOpportunty",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineOpsCertification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsRiskOpportunity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opscertification_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsRskCertification",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsCertification",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsCertification').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_OpsCertification",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarOpsRskCertification",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendFailMail_OpsCertification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_OpsCertification",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineOpsRelatedPartyTrx",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsCertification",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsrelatedpartytrx_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsRelatedPartyTrx",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsRelatedPartyTrx",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsRelatedPartyTrx').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_OpsRelatedPartyTrx",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarOpsRelatedPartyTrx",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendFailMail_OpsRelatedPartyTrx",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_OpsRelatedPartyTrx",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineOpsPricePoint",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsRelatedPartyTrx",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opspricepoint_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsPricePoint",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsPricePoint",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsPricePoint').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_OpsPricePoint",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarOpsPricePoint",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendFailMail_OpsPricePoint",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_OpsPricePoint",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineOpsSalesUnit",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsPricePoint",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opssalesunit_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsSalesUnit",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsSalesUnit",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsSalesUnit').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_OpsSalesUnit",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarOpsSalesUnit",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendFailMail_OpsSalesUnit",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_OpsSalesUnit",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					}
				],
				"variables": {
					"PipelineName": {
						"type": "String",
						"defaultValue": "MasterPipeline_pl"
					},
					"MasterUTCtag": {
						"type": "String",
						"defaultValue": "2019-11-07"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MasterPipeline_Sub4_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunPipelineOpsTimberSales",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MasterUTCtag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opstimbersales_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunPipelineOpsSalesOther",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsTimberSales",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opssalesother_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsQuestions",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsTimberSales",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsTimberSales').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "MasterUTCtag",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MasterUTCtag",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_OpsQuestions",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_OpsTimberSales",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_OpsTimberSales",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarOpsQuestions",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetVarOpsSalesOther",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsSalesOther",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsSalesOther').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_OpsSalesOther",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetVarOpsSalesOther",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineOpsOperation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsSalesOther",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsoperation_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsOperation",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsOperation",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsOperation').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_OpsOperation",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetVarOpsOperation",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineHarvestRecon",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsOperation",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsharvestrecon_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsHarvestRecon",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineHarvestRecon",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineHarvestRecon').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_OpsHarvestRecon",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetVarOpsHarvestRecon",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineStrategicProject",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineHarvestRecon",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsstrategicproject_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsStrategicProject",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineStrategicProject",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineStrategicProject').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_OpsStrategicProject",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetVarOpsStrategicProject",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineStrategicDeliverable",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineStrategicProject",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsstrategicdeliverable_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsStrategicDeliverable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineStrategicDeliverable",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineStrategicDeliverable').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_OpsStrategicDeliverable",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetVarOpsStrategicDeliverable",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineOpsContract",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineStrategicDeliverable",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opscontract_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsContract",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsContract",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineOpsContract').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_OpsContract",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetVarOpsContract",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineAudit",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineOpsContract",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessSourceBlob_opsaudit_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarOpsAudit",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineAudit",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineAudit').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_OpsAudit",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetVarOpsAudit",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "MasterPipelineSendMailAndLogStatus",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineAudit",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipelineSendMail_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Parent_DataFactory": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"Parent_Pipeline": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Master_Utc_Tag": {
									"value": "@variables('MasterUTCtag')",
									"type": "Expression"
								},
								"Run_Message_Success": "MasterPipeline_Sub4_pl completed OK",
								"Run_Message_Fail": "MasterPipeline_Sub4_pl run failed"
							}
						}
					}
				],
				"variables": {
					"PipelineName": {
						"type": "String",
						"defaultValue": "MasterPipeline_pl"
					},
					"MasterUTCtag": {
						"type": "String",
						"defaultValue": "2019-11-07"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessOpsWorkbookMaster_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Master job to orchestrate multiple pipelines run. Each pipeline correspond to one tab in the Excel workbook.",
				"activities": [
					{
						"name": "ProcessOpsWorkbookSubMaster_pl",
						"description": "Sub Master to run children pipelines in parallel",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DeleteWorkbookWorksheetAssetList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessOpsWorkbookSubMaster_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"WorkbookName": {
									"value": "@pipeline().parameters.WorkbookName",
									"type": "Expression"
								},
								"CurrentQuarterDate": {
									"value": "@pipeline().parameters.CurrentQuarterDate",
									"type": "Expression"
								},
								"OtherSales": {
									"value": "@variables('OtherSales')",
									"type": "Expression"
								},
								"MajorSevereIncidents": {
									"value": "@variables('MajorSevereIncidents')",
									"type": "Expression"
								},
								"RiskOpportunityRegister": {
									"value": "@variables('RiskOpportunityRegister')",
									"type": "Expression"
								},
								"Certifications": {
									"value": "@variables('Certifications')",
									"type": "Expression"
								},
								"RelatedPartyTransactions": {
									"value": "@variables('RelatedPartyTransactions')",
									"type": "Expression"
								},
								"TimberSales": {
									"value": "@variables('TimberSales')",
									"type": "Expression"
								},
								"HarvestReconcilliation": {
									"value": "@variables('HarvestReconcilliation')",
									"type": "Expression"
								},
								"Operations": {
									"value": "@variables('Operations')",
									"type": "Expression"
								},
								"Contracts": {
									"value": "@variables('Contracts')",
									"type": "Expression"
								},
								"StrategicProjects": {
									"value": "@variables('StrategicProjects')",
									"type": "Expression"
								},
								"CurrentRunDateTime": {
									"value": "@variables('CurrentRunDateTime')",
									"type": "Expression"
								},
								"MasterUtcTag": {
									"value": "@variables('MasterUtcTag')",
									"type": "Expression"
								},
								"MasterPipeline": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"OtherSalesRange": {
									"value": "@variables('OtherSalesRange')",
									"type": "Expression"
								},
								"MajorSevereIncidentsRange": {
									"value": "@variables('MajorSevereIncidentsRange')",
									"type": "Expression"
								},
								"RiskOpportunityRegisterRange": {
									"value": "@variables('RiskOpportunityRegisterRange')",
									"type": "Expression"
								},
								"CertificationsRange": {
									"value": "@variables('CertificationsRange')",
									"type": "Expression"
								},
								"RelatedPartyTransactionsRange": {
									"value": "@variables('RelatedPartyTransactionsRange')",
									"type": "Expression"
								},
								"TimberSalesRange": {
									"value": "@variables('TimberSalesRange')",
									"type": "Expression"
								},
								"HarvestReconcilliationRange": {
									"value": "@variables('HarvestReconcilliationRange')",
									"type": "Expression"
								},
								"OperationsRange": {
									"value": "@variables('OperationsRange')",
									"type": "Expression"
								},
								"ContractsRange": {
									"value": "@variables('ContractsRange')",
									"type": "Expression"
								},
								"StrategicProjectsRange": {
									"value": "@variables('StrategicProjectsRange')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "GetCurrentDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "MaterUtcTag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CurrentRunDateTime",
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcnow(),'AUS Eastern Standard Time'),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "MaterUtcTag",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MasterUtcTag",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopyToSourceArchive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ProcessOpsWorkbookSubMaster_pl",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BinaryFromSourceLandingRaw_ds",
								"type": "DatasetReference",
								"parameters": {
									"file": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BinaryToSourceArchive_ds",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "@concat(substring(pipeline().parameters.CurrentQuarterDate,0,4), '/', concat(if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'01'),'JAN',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'02'),'FEB',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'03'),'MAR',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'04'),'APR',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'05'),'MAY',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'06'),'JUN',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'07'),'JUL',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'08'),'AUG',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'09'),'SEP',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'10'),'OCT',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'11'),'NOV',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'12'),'DEC','')), '/', substring(pipeline().parameters.CurrentQuarterDate,8,2))",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "CopyToDataLake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyToSourceArchive",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BinaryFromSourceLandingRaw_ds",
								"type": "DatasetReference",
								"parameters": {
									"file": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BinaryToDatalake_ds",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "@concat('manual/',substring(pipeline().parameters.CurrentQuarterDate,0,4), '/', concat(if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'01'),'JAN',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'02'),'FEB',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'03'),'MAR',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'04'),'APR',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'05'),'MAY',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'06'),'JUN',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'07'),'JUL',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'08'),'AUG',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'09'),'SEP',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'10'),'OCT',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'11'),'NOV',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'12'),'DEC','')), '/', substring(pipeline().parameters.CurrentQuarterDate,8,2))",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeleteFileFromSourceLandingRaw",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyToDataLake",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinaryFromSourceLandingRaw_ds",
								"type": "DatasetReference",
								"parameters": {
									"file": "fill_in_parameter_workbook_name"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false
							}
						}
					},
					{
						"name": "DeleteAllRelatedAdf2PersistentArea",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "DeleteFileFromSourceLandingRaw",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinaryFromAdf2PersistentArea_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"prefix": "none"
							}
						}
					},
					{
						"name": "RegisterStatusInMasterRunLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateSourceRegisterTable",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUtcTag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "SUCCESS",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyToSourceArchive_Failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ProcessOpsWorkbookSubMaster_pl",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BinaryFromSourceLandingRaw_ds",
								"type": "DatasetReference",
								"parameters": {
									"file": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BinaryToSourceArchive_ds",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "@concat(substring(pipeline().parameters.CurrentQuarterDate,0,4), '/', concat(if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'01'),'JAN',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'02'),'FEB',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'03'),'MAR',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'04'),'APR',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'05'),'MAY',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'06'),'JUN',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'07'),'JUL',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'08'),'AUG',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'09'),'SEP',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'10'),'OCT',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'11'),'NOV',''),if(equals(substring(pipeline().parameters.CurrentQuarterDate,5,2),'12'),'DEC','')), '/', substring(pipeline().parameters.CurrentQuarterDate,8,2))",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeleteFileFromSourceLandingRaw_Failed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyToSourceArchive_Failed",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinaryFromSourceLandingRaw_ds",
								"type": "DatasetReference",
								"parameters": {
									"file": "none"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false
							}
						}
					},
					{
						"name": "DeleteAllRelatedAdf2PersistentArea_Failed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "DeleteFileFromSourceLandingRaw_Failed",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinaryFromAdf2PersistentArea_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"prefix": "none"
							}
						}
					},
					{
						"name": "RegisterStatusInMasterRunLog_Failed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateSourceRegisterTableFailed",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUtcTag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DeleteWorkbookWorksheetAssetList",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetCurrentDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[audit].[DeleteAuditWorkBookWorksheetListTable]",
							"storedProcedureParameters": {
								"WorkBookName": {
									"value": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmailsOK",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RegisterStatusInMasterRunLog",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessOpsWorkbookSendMailOK_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataFactoryName": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"WorkbookName": {
									"value": "@pipeline().parameters.WorkbookName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SendEmailsNotOK",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RegisterStatusInMasterRunLog_Failed",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessOpsWorkbookSendMailNotOK_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataFactoryName": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"WorkbookName": {
									"value": "@pipeline().parameters.WorkbookName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SendEmailNotOkFinal",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SendEmailsNotOK",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessOpsWorkbookSendMailNotOkFinal_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataFactoryName": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"WorkbookName": {
									"value": "@pipeline().parameters.WorkbookName",
									"type": "Expression"
								},
								"Asset_ID": {
									"value": "@pipeline().parameters.Asset_ID",
									"type": "Expression"
								},
								"Fund_ID": {
									"value": "@pipeline().parameters.Fund_ID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "UpdateSourceRegisterTable",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DeleteAllRelatedAdf2PersistentArea",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ProcessOpsWorkbookUpdateSourceRegister_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"WorkbookName": {
									"value": "@pipeline().parameters.WorkbookName",
									"type": "Expression"
								},
								"MasterPipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"CurrentQuarterDate": {
									"value": "@pipeline().parameters.CurrentQuarterDate",
									"type": "Expression"
								},
								"MasterUtcTag": {
									"value": "@variables('MasterUtcTag')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "UpdateSourceRegisterTableFailed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DeleteAllRelatedAdf2PersistentArea_Failed",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[SourceRegisterTableInsert]",
							"storedProcedureParameters": {
								"ArchiveContainer": {
									"value": {
										"value": "sourcearchive",
										"type": "Expression"
									},
									"type": "String"
								},
								"Comment": {
									"value": {
										"value": "Pipeline failed",
										"type": "Expression"
									},
									"type": "String"
								},
								"DatalakeContainer": {
									"value": {
										"value": "nonfinancial",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlUtcTag": {
									"value": {
										"value": "@variables('MasterUtcTag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"FileName": {
									"value": {
										"value": "@pipeline().parameters.WorkbookName",
										"type": "Expression"
									},
									"type": "String"
								},
								"InputDate": {
									"value": {
										"value": "@pipeline().parameters.CurrentQuarterDate",
										"type": "Expression"
									},
									"type": "String"
								},
								"InputMethod": {
									"value": {
										"value": "manual",
										"type": "Expression"
									},
									"type": "String"
								},
								"ProcessName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "ABORT",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceContainer": {
									"value": {
										"value": "sourcelandingraw",
										"type": "Expression"
									},
									"type": "String"
								},
								"TargetContainer": {
									"value": {
										"value": "adf2persistentarea",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"WorkbookName": {
						"type": "string",
						"defaultValue": "Wenita Forestry Products Q4 FY20 V2.xlsx"
					},
					"CurrentQuarterDate": {
						"type": "string",
						"defaultValue": "2020-06-30"
					},
					"Asset_ID": {
						"type": "string",
						"defaultValue": "WFP"
					},
					"Fund_ID": {
						"type": "string",
						"defaultValue": "ANZFOF2"
					}
				},
				"variables": {
					"OtherSales": {
						"type": "String",
						"defaultValue": "Other Sales"
					},
					"MajorSevereIncidents": {
						"type": "String",
						"defaultValue": "Major Severe Incidents"
					},
					"RiskOpportunityRegister": {
						"type": "String",
						"defaultValue": "Risk Opportunity Register"
					},
					"Certifications": {
						"type": "String",
						"defaultValue": "Certifications"
					},
					"RelatedPartyTransactions": {
						"type": "String",
						"defaultValue": "Related Party Transactions"
					},
					"TimberSales": {
						"type": "String",
						"defaultValue": "Timber Sales"
					},
					"HarvestReconcilliation": {
						"type": "String",
						"defaultValue": "Harvest Reconcilliation"
					},
					"Operations": {
						"type": "String",
						"defaultValue": "Operations"
					},
					"Contracts": {
						"type": "String",
						"defaultValue": "Contracts"
					},
					"StrategicProjects": {
						"type": "String",
						"defaultValue": "Strategic Projects"
					},
					"CurrentRunDateTime": {
						"type": "String",
						"defaultValue": "2020-08-01"
					},
					"MasterUtcTag": {
						"type": "String",
						"defaultValue": "2020-08-28T06:05:53.4181322Z"
					},
					"OtherSalesRange": {
						"type": "String"
					},
					"MajorSevereIncidentsRange": {
						"type": "String"
					},
					"RiskOpportunityRegisterRange": {
						"type": "String"
					},
					"CertificationsRange": {
						"type": "String",
						"defaultValue": "A6:N99999"
					},
					"RelatedPartyTransactionsRange": {
						"type": "String"
					},
					"TimberSalesRange": {
						"type": "String",
						"defaultValue": "A6:W99999"
					},
					"HarvestReconcilliationRange": {
						"type": "String"
					},
					"OperationsRange": {
						"type": "String"
					},
					"ContractsRange": {
						"type": "String"
					},
					"StrategicProjectsRange": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MasterPipeline_Main_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunPipelineMasterSub1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineMoveFilesFromFileshareToBlobStore",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipeline_Sub1_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunPipelineMasterSub3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineMasterSub2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipeline_Sub3_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarMasterSub1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineMasterSub1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineMasterSub1').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetVarMasterSub3",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineMasterSub3",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineMasterSub3').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "MasterUTCtag",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MasterUTCtag",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_MasterSub3",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_MasterSub3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "SendFailMail_MasterSub1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_MasterSub1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "MasterPipelineSendMailAndLogStatus",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineMasterSub4",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipelineSendMail_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Parent_DataFactory": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"Parent_Pipeline": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Master_Utc_Tag": {
									"value": "@variables('MasterUTCtag')",
									"type": "Expression"
								},
								"Run_Message_Success": "MasterPipeline_Main_pl completed OK",
								"Run_Message_Fail": "MasterPipeline_Mail_pl run failed"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_MasterSub3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarMasterSub3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateMasterRunLog_MasterSub1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarMasterSub1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "RunPipelineMoveFilesFromFileshareToBlobStore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MasterUTCtag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PipelineMoveFiles_fileshare_to_blob_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarMoveFiles",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineMoveFilesFromFileshareToBlobStore",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineMoveFilesFromFileshareToBlobStore').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_MoveFiles",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarMoveFiles",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendFailMail_MoveFIles",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_MoveFiles",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineMasterSub2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineMasterSub1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipeline_Sub2_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarMasterSub2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineMasterSub2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineMasterSub2').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_MasterSub2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarMasterSub2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendFailMail_MasterSub2",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_MasterSub2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "RunPipelineMasterSub4",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineMasterSub3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipeline_Sub4_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVarMasterSub4",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunPipelineMasterSub4",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineName",
							"value": {
								"value": "@activity('RunPipelineMasterSub4').output",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SendFailMail_MasterSub4",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateMasterRunLog_MasterSub4",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.australiaeast.logic.azure.com:443/workflows/f7a9fbbc810043f28c16fd6bcf3b2f68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8yphnNtSS85GDIgCI8OiOwpDghciKo7S9hRjuy5ITI4",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@pipeline().DataFactory",
								"pipelineName": "@pipeline().Pipeline",
								"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
								"messageProcessed": "@variables('PipelineName')",
								"messageNotProcessed": "",
								"messageErrorDuringProcess": ""
							}
						}
					},
					{
						"name": "UpdateMasterRunLog_MasterSub4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetVarMasterSub4",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[log].[UpdateMasterRunLog]",
							"storedProcedureParameters": {
								"MasterUtcTag": {
									"value": {
										"value": "@variables('MasterUTCtag')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunMessage": {
									"value": {
										"value": "@variables('PipelineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunStatus": {
									"value": {
										"value": "FAILED",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLdbConnection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"PipelineName": {
						"type": "String",
						"defaultValue": "MasterPipeline_pl"
					},
					"MasterUTCtag": {
						"type": "String",
						"defaultValue": "2019-11-07"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MasterPipeline_Sub3_pl')]",
				"[concat(variables('factoryId'), '/pipelines/MasterPipeline_Sub4_pl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MasterPipeline_GlobalMain_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MasterUTCtag",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MasterUTCtag",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "RunPipelineMainMaster",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MasterUTCtag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipeline_Main_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunPipelineCleanupContainerRaw",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineCopyFailedBlobToFileshare",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PipelineCleanupContainer_raw_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunPipelineCleanupContainerScrubbed",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineCleanupContainerRaw",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PipelineCleanupContainer_scrubbed_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunPipelineCopyFailedBlobToFileshare",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineMainMaster",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PipelineCopyFailedBlobToFileshare_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunMasterPipelineSendMail",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunPipelineCleanupContainerScrubbed",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterPipelineSendMail_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Parent_DataFactory": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"Parent_Pipeline": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Master_Utc_Tag": {
									"value": "@variables('MasterUTCtag')",
									"type": "Expression"
								},
								"Run_Message_Success": "Global Pipeline completed successfully",
								"Run_Message_Fail": "Global Pipeline failed"
							}
						}
					}
				],
				"variables": {
					"PipelineName": {
						"type": "String",
						"defaultValue": "MasterPipeline_Global_pl"
					},
					"MasterUTCtag": {
						"type": "String",
						"defaultValue": "2019-11-07"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MasterPipeline_Main_pl')]"
			]
		}
	]
}