pipeline/MasterPipeline_pl.json
{
	"name": "MasterPipeline_pl",
	"properties": {
		"activities": [
			{
				"name": "RunPipelineFund",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "MasterUTCtag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessSourceBlob_fund_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "RunPipelineAsset",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RunPipelineFund",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessSourceBlob_asset_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "RunPipelineCOA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RunPipelineAsset",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessSourceBlob_coa_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "RunPipelineCoaTrxSim",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RunPipelineCOA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessSourceBlob_coa_trx_simple_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "RunPipelineCoaTrxCom",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RunPipelineCoaTrxSim",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessSourceBlob_coa_trx_company_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "RunPipelineCoaTrxCat",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RunPipelineCoaTrxCom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessSourceBlob_coa_trx_category_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SetVarFund",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunPipelineFund",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@activity('RunPipelineFund').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetVarAsset",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunPipelineAsset",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@activity('RunPipelineAsset').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetVarCOA",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunPipelineCOA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@activity('RunPipelineCOA').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetVarCoaTrxSim",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunPipelineCoaTrxSim",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@activity('RunPipelineCoaTrxSim').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetVarCoaTrxCom",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunPipelineCoaTrxCom",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@activity('RunPipelineCoaTrxCom').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetVarCoaTrxCat",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunPipelineCoaTrxCat",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@activity('RunPipelineCoaTrxCat').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendFailMail_COA",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetVarCOA",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.australiaeast.logic.azure.com:443/workflows/e28a90add06c495bbc9362b5109fb4c0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j2wEDAKOpnQ83iKkUa84aeGE6Nfb5604lp-z1-W4ek0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"dataFactoryName": "@pipeline().DataFactory",
						"pipelineName": "@pipeline().Pipeline",
						"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
						"messageProcessed": "@variables('PipelineName')",
						"messageNotProcessed": "",
						"messageErrorDuringProcess": ""
					}
				}
			},
			{
				"name": "MasterUTCtag",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MasterUTCtag",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RunPipelineBudget",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RunPipelineCoaTrxCat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessSourceBlob_budget_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SetVarBudget",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunPipelineBudget",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@activity('RunPipelineBudget').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendFailMail_Budget",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetVarBudget",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.australiaeast.logic.azure.com:443/workflows/e28a90add06c495bbc9362b5109fb4c0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j2wEDAKOpnQ83iKkUa84aeGE6Nfb5604lp-z1-W4ek0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"dataFactoryName": "@pipeline().DataFactory",
						"pipelineName": "@pipeline().Pipeline",
						"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
						"messageProcessed": "@variables('PipelineName')",
						"messageNotProcessed": "",
						"messageErrorDuringProcess": ""
					}
				}
			},
			{
				"name": "SendFailMail_CoaTrxCat",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetVarCoaTrxCat",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.australiaeast.logic.azure.com:443/workflows/e28a90add06c495bbc9362b5109fb4c0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j2wEDAKOpnQ83iKkUa84aeGE6Nfb5604lp-z1-W4ek0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"dataFactoryName": "@pipeline().DataFactory",
						"pipelineName": "@pipeline().Pipeline",
						"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
						"messageProcessed": "@variables('PipelineName')",
						"messageNotProcessed": "",
						"messageErrorDuringProcess": ""
					}
				}
			},
			{
				"name": "SendFailMail_CoaTrxCom",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetVarCoaTrxCom",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.australiaeast.logic.azure.com:443/workflows/e28a90add06c495bbc9362b5109fb4c0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j2wEDAKOpnQ83iKkUa84aeGE6Nfb5604lp-z1-W4ek0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"dataFactoryName": "@pipeline().DataFactory",
						"pipelineName": "@pipeline().Pipeline",
						"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
						"messageProcessed": "@variables('PipelineName')",
						"messageNotProcessed": "",
						"messageErrorDuringProcess": ""
					}
				}
			},
			{
				"name": "SendFailMail_CoaTrxSim",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetVarCoaTrxSim",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.australiaeast.logic.azure.com:443/workflows/e28a90add06c495bbc9362b5109fb4c0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j2wEDAKOpnQ83iKkUa84aeGE6Nfb5604lp-z1-W4ek0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"dataFactoryName": "@pipeline().DataFactory",
						"pipelineName": "@pipeline().Pipeline",
						"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
						"messageProcessed": "@variables('PipelineName')",
						"messageNotProcessed": "",
						"messageErrorDuringProcess": ""
					}
				}
			},
			{
				"name": "SendFailMail_Asset",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetVarAsset",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.australiaeast.logic.azure.com:443/workflows/e28a90add06c495bbc9362b5109fb4c0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j2wEDAKOpnQ83iKkUa84aeGE6Nfb5604lp-z1-W4ek0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"dataFactoryName": "@pipeline().DataFactory",
						"pipelineName": "@pipeline().Pipeline",
						"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
						"messageProcessed": "@variables('PipelineName')",
						"messageNotProcessed": "",
						"messageErrorDuringProcess": ""
					}
				}
			},
			{
				"name": "SendFailMail_Fund",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetVarFund",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.australiaeast.logic.azure.com:443/workflows/e28a90add06c495bbc9362b5109fb4c0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j2wEDAKOpnQ83iKkUa84aeGE6Nfb5604lp-z1-W4ek0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"dataFactoryName": "@pipeline().DataFactory",
						"pipelineName": "@pipeline().Pipeline",
						"messageHeader": "!!!MASTER PIPELINE FAILED!!!",
						"messageProcessed": "@variables('PipelineName')",
						"messageNotProcessed": "",
						"messageErrorDuringProcess": ""
					}
				}
			},
			{
				"name": "MasterPipelineSendMail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RunPipelineBudget",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MasterPipelineSendMail_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"PipelineName": {
				"type": "String",
				"defaultValue": "MasterPipeline_pl"
			},
			"MasterUTCtag": {
				"type": "String",
				"defaultValue": "2019-11-07"
			}
		},
		"annotations": []
	}
}