pipeline/pipelinetest1.json
{
	"name": "pipelinetest1",
	"properties": {
		"activities": [
			{
				"name": "GetProcessedFiles",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n       stuff( (SELECT ', '+original_blob_name \n               FROM log.source_register_table\n\t\t\t   where etl_is_processed = 'Y'\n\t\t\t   order by original_blob_name\n               FOR XML PATH(''), TYPE).value('.', 'varchar(max)')\n            ,1,1,'') as Processed_Files\n ;"
					},
					"dataset": {
						"referenceName": "SQLsourceRegisterTable_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetProcessedFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-21.australiaeast.logic.azure.com:443/workflows/aadb2c0300964e12b4644828e05580ac/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=2-n4CRp6YeojqrCETVn4CV5XCEyZgjGruv7v5EmQlRU",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"dataFactoryName": "@pipeline().DataFactory",
						"pipelineName": "@pipeline().Pipeline",
						"message": "@activity('GetProcessedFiles').output.firstRow",
						"messageHeader": "@variables('Success_Fail_Heading')"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Success_Fail_Heading",
					"value": {
						"value": "@string('SUCCESS')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Success_Fail_Heading": {
				"type": "String"
			}
		},
		"annotations": []
	}
}