pipeline/ProcessMktMasterDimType_pl.json
{
	"name": "ProcessMktMasterDimType_pl",
	"properties": {
		"activities": [
			{
				"name": "MasterUtcTag",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MasterUtcTag",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendEmailFileReceivedConfirmation",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GenerateBatchDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-22.australiaeast.logic.azure.com:443/workflows/3b1500dc3148452bbe30bca4d4caece9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=dfK9OZs5XMno2zPpeLj2Oz6qGMDDZv3xXA4ZgOeRD9M",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n \"dataFactoryName\":\"DataFactory Name: @{pipeline().DataFactory}\",\n \"pipelineName\":\"Pipeline Name: @{pipeline().Pipeline}\",\n \"messageHeader\":\"@{pipeline().parameters.WorkbookName} : Confirmed For Processing\",\n \"messageBody1\":\"\",\n \"messageBody2\":\"\",\n \"messageBody3\":\"Thank You. We will inform you after the file has been processed.\",\n \"messageBody4\":\"\",\n \"messageBody5\":\"\",\n \"emailAddress\":\"@{pipeline().parameters.emailAddress}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyWorksheetToCsvFile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "MoveFIleFromFileshareToBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Deliver Point Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Deliver Point Code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Delivery Point",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Delivery Point",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ExcelWorkbook_AllTabs_ds",
						"type": "DatasetReference",
						"parameters": {
							"WorkbookName": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							},
							"TabName": {
								"value": "@variables('WorksheetName')",
								"type": "Expression"
							},
							"Range": {
								"value": "@variables('WorksheetRange')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "CSVgenericWithParameter_ds",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "MKTINFO_DIM_DELIVERY_POINT_Extract.csv",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "TruncateAuditTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyWorksheetToCsvFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[TruncateAuditTable]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "Dim_Delivery_Point_Error",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLdbConnection",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ProcessDimension",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "TruncateAuditTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessMktUpdateDimDeliveryPoint_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WorkbookName": {
							"value": "@pipeline().parameters.WorkbookName",
							"type": "Expression"
						},
						"WorksheetName": {
							"value": "@variables('WorksheetName')",
							"type": "Expression"
						},
						"GeneratedBatchDate": {
							"value": "@variables('GenerateBatchDate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GenerateBatchDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MasterUtcTag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "GenerateBatchDate",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcnow(),'AUS Eastern Standard Time'),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyToSourceArchive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ProcessDimension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BinaryFromSourceLandingRaw_ds",
						"type": "DatasetReference",
						"parameters": {
							"file": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "BinaryToSourceArchive_ds",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@concat(substring(variables('GenerateBatchDate'),0,4), '/', concat(if(equals(substring(variables('GenerateBatchDate'),5,2),'01'),'JAN',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'02'),'FEB',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'03'),'MAR',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'04'),'APR',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'05'),'MAY',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'06'),'JUN',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'07'),'JUL',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'08'),'AUG',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'09'),'SEP',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'10'),'OCT',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'11'),'NOV',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'12'),'DEC','')), '/', substring(variables('GenerateBatchDate'),8,2))",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CopyToSourceArchiveFailed",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ProcessDimension",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BinaryFromSourceLandingRaw_ds",
						"type": "DatasetReference",
						"parameters": {
							"file": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "BinaryToSourceArchive_ds",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@concat(substring(variables('GenerateBatchDate'),0,4), '/', concat(if(equals(substring(variables('GenerateBatchDate'),5,2),'01'),'JAN',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'02'),'FEB',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'03'),'MAR',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'04'),'APR',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'05'),'MAY',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'06'),'JUN',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'07'),'JUL',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'08'),'AUG',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'09'),'SEP',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'10'),'OCT',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'11'),'NOV',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'12'),'DEC','')), '/', substring(variables('GenerateBatchDate'),8,2))",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CopyToDataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CopyToSourceArchive",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BinaryFromSourceLandingRaw_ds",
						"type": "DatasetReference",
						"parameters": {
							"file": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "BinaryToDatalake_ds",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@concat('manual/',substring(variables('GenerateBatchDate'),0,4), '/', concat(if(equals(substring(variables('GenerateBatchDate'),5,2),'01'),'JAN',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'02'),'FEB',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'03'),'MAR',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'04'),'APR',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'05'),'MAY',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'06'),'JUN',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'07'),'JUL',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'08'),'AUG',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'09'),'SEP',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'10'),'OCT',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'11'),'NOV',''),if(equals(substring(variables('GenerateBatchDate'),5,2),'12'),'DEC','')), '/', substring(variables('GenerateBatchDate'),8,2))",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DeleteFromSourceLandingScrubbed",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopyToDataLake",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BinaryFromSourceLandingScrubbed_ds",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"prefix": {
							"value": "MKTINFO_DIM_DELIVERY_POINT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DeleteFromSourceLandingScrubbedFailed",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopyToSourceArchiveFailed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BinaryFromSourceLandingScrubbed_ds",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"prefix": {
							"value": "MKTINFO_DIM_DELIVERY_POINT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DeleteFromSourceLandingRaw",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "DeleteFromSourceLandingScrubbed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BinaryFromSourceLandingRaw_ds",
						"type": "DatasetReference",
						"parameters": {
							"file": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "DeleteFromSourceLandingRawFailed",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "DeleteFromSourceLandingScrubbedFailed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BinaryFromSourceLandingRaw_ds",
						"type": "DatasetReference",
						"parameters": {
							"file": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "UpdateSourceRegisterFailed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeleteFromSourceLandingRawFailed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[log].[SourceRegisterTableInsert]",
					"storedProcedureParameters": {
						"ArchiveContainer": {
							"value": {
								"value": "sourcearchive",
								"type": "Expression"
							},
							"type": "String"
						},
						"Comment": {
							"value": {
								"value": "Pipeline Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"DatalakeContainer": {
							"value": {
								"value": "nonfinancial",
								"type": "Expression"
							},
							"type": "String"
						},
						"EtlUtcTag": {
							"value": {
								"value": "@variables('MasterUtcTag')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							},
							"type": "String"
						},
						"InputDate": {
							"value": {
								"value": "@variables('GenerateBatchDate')",
								"type": "Expression"
							},
							"type": "String"
						},
						"InputMethod": {
							"value": {
								"value": "manual",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunStatus": {
							"value": {
								"value": "ABORT",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceContainer": {
							"value": {
								"value": "sourcelandingraw",
								"type": "Expression"
							},
							"type": "String"
						},
						"TargetContainer": {
							"value": {
								"value": "sourcelandingscrubbed",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLdbConnection",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateSourceRegisterTable",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DeleteFromSourceLandingRaw",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessMktUpdateSourceRegister_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WorkbookName": {
							"value": "@pipeline().parameters.WorkbookName",
							"type": "Expression"
						},
						"ErrorTableName": {
							"value": "[audit].[Dim_Delivery_Point_Error]",
							"type": "Expression"
						},
						"MasterUtcTag": {
							"value": "@variables('MasterUtcTag')",
							"type": "Expression"
						},
						"MasterPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"GenerateBatchDate": {
							"value": "@variables('GenerateBatchDate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SendFinalEmail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UpdateSourceRegisterTable",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessOpsMktSendMailOK_pl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"WorkbookName": {
							"value": "@pipeline().parameters.WorkbookName",
							"type": "Expression"
						},
						"ErrorTableName": {
							"value": "[audit].[Dim_Delivery_Point_Error]",
							"type": "Expression"
						},
						"emailAddress": {
							"value": "@pipeline().parameters.emailAddress",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SendFinalEmailFailed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "UpdateSourceRegisterFailed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-22.australiaeast.logic.azure.com:443/workflows/3b1500dc3148452bbe30bca4d4caece9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=dfK9OZs5XMno2zPpeLj2Oz6qGMDDZv3xXA4ZgOeRD9M",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n \"dataFactoryName\":\"DataFactory Name: @{pipeline().DataFactory}\",\n \"pipelineName\":\"Pipeline Name: @{pipeline().Pipeline}\",\n \"messageHeader\":\"@{pipeline().parameters.WorkbookName} : Load Failed\",\n \"messageBody1\":\"Market Information\",\n \"messageBody2\":\"\",\n \"messageBody3\":\"We are not able to load your file. Something is wrong\",\n \"messageBody4\":\"\",\n \"messageBody5\":\"Fix data and submit your file again.\",\n \"emailAddress\":\"@{pipeline().parameters.emailAddress}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendFinalEmailCopyFailed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyWorksheetToCsvFile",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-22.australiaeast.logic.azure.com:443/workflows/3b1500dc3148452bbe30bca4d4caece9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=dfK9OZs5XMno2zPpeLj2Oz6qGMDDZv3xXA4ZgOeRD9M",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n \"dataFactoryName\":\"DataFactory Name: @{pipeline().DataFactory}\",\n \"pipelineName\":\"Pipeline Name: @{pipeline().Pipeline}\",\n \"messageHeader\":\"@{pipeline().parameters.WorkbookName} : Load Failed\",\n \"messageBody1\":\"Market Information\",\n \"messageBody2\":\"\",\n \"messageBody3\":\"We are not able to load your file. Something is wrong during copy\",\n \"messageBody4\":\"\",\n \"messageBody5\":\"Fix data and submit your file again.\",\n \"emailAddress\":\"@{pipeline().parameters.emailAddress}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MoveFIleFromFileshareToBlob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SendEmailFileReceivedConfirmation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BinaryDataSourceFileshareMktDataDir_MoveFile_ds",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "BinaryDataDestinationBlob_MoveFile_ds",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@pipeline().parameters.WorkbookName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SendFinalEmailMoveFileshareFailed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "MoveFIleFromFileshareToBlob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-22.australiaeast.logic.azure.com:443/workflows/3b1500dc3148452bbe30bca4d4caece9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=dfK9OZs5XMno2zPpeLj2Oz6qGMDDZv3xXA4ZgOeRD9M",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n \"dataFactoryName\":\"DataFactory Name: @{pipeline().DataFactory}\",\n \"pipelineName\":\"Pipeline Name: @{pipeline().Pipeline}\",\n \"messageHeader\":\"@{pipeline().parameters.WorkbookName} : Load Failed\",\n \"messageBody1\":\"Market Information\",\n \"messageBody2\":\"\",\n \"messageBody3\":\"We are not able to load your file. Something is wrong during move from Market Data fileshare\",\n \"messageBody4\":\"\",\n \"messageBody5\":\"Fix data and submit your file again.\",\n \"emailAddress\":\"@{pipeline().parameters.emailAddress}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"emailAddress": {
				"type": "string",
				"defaultValue": "weiyin.leow@asggroup.com.au"
			},
			"WorkbookName": {
				"type": "string",
				"defaultValue": "Market Info Dimensions.xlsx"
			}
		},
		"variables": {
			"WorksheetName": {
				"type": "String",
				"defaultValue": "Delivery Point"
			},
			"WorksheetRange": {
				"type": "String",
				"defaultValue": "A8:B999"
			},
			"GenerateBatchDate": {
				"type": "String"
			},
			"MasterUtcTag": {
				"type": "String"
			}
		},
		"annotations": []
	}
}