pipeline/ProcessOpsWorkbookSendMailNotOK_pl.json
{
	"name": "ProcessOpsWorkbookSendMailNotOK_pl",
	"properties": {
		"activities": [
			{
				"name": "GetEmailDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT\n CONCAT(CASE WHEN x.Error_Count > 0 OR (x.Error_Count = 0 AND x.Asset_Id IS NULL) THEN 'FAILED LOAD : ' ELSE 'SUCCESSFUL LOAD : ' END, x.Work_Sheet, ' - ', x.Work_Book) AS Message_Header,\n ass.Ops_Representative_Email, ass.Ops_Representative_Last_Name, ass.Ops_Representative_First_Name, x.Error_Table,\n CASE WHEN x.Error_Count > 0 THEN CAST(x.Error_Count AS VARCHAR) WHEN x.Error_Count = 0 AND x.Asset_Id IS NULL THEN 'UNKNOWN' ELSE '0' END AS Error_Count \nFROM (\nSELECT err.Error_Table, err.Work_Book, err.Work_Sheet, err.Error_Count, wb.Asset_Id, wb.Fund_Id\nFROM audit.OPS_Workbook_Worksheet_Asset_List wb\nRIGHT JOIN (\nSELECT 'audit.OPS_Certification_Error' AS Error_Table, 'Certifications' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_Book, COUNT(*) AS Error_Count\nFROM audit.OPS_Certification_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Timber_Sales_Error' AS Error_Table, 'Timber Sales' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Timber_Sales_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Answers_Error' AS Error_Table, 'Answers_DWH_Export' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Answers_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Contract_Error' AS Error_Table, 'Contracts' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Contract_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Harvest_Reconciliation_Error' AS Error_Table, 'Harvest Reconcilliation' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Harvest_Reconciliation_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Incident_Error' AS Error_Table, 'Major Severe Incidents' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Incident_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Operation_Error' AS Error_Table, 'Operations' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Operation_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Sales_Other_Error' AS Error_Table, 'Other Sales' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Sales_Other_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Related_Party_Transaction_Error' AS Error_Table, 'Related Party Transactions' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Related_Party_Transaction_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Risk_Opportunity_Register_Error' AS Error_Table, 'Risk Opportunity Register' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Risk_Opportunity_Register_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\nUNION\nSELECT 'audit.OPS_Strategic_Project_Error' AS Error_Table, 'Strategic Projects' AS Work_Sheet, '@{pipeline().parameters.WorkbookName}' AS Work_book, COUNT(*) AS Error_Count\nFROM audit.OPS_Strategic_Project_Error WHERE Source_File = '@{pipeline().parameters.WorkbookName}'\n) err\nON wb.Work_Book = err.Work_Book and wb.Work_Sheet = err.Work_Sheet\n)x\nJOIN relational.Asset ass\nON 1=1\nWHERE ass.Asset_ID = '@{pipeline().parameters.Asset_ID}' AND ass.Fund_ID = '@{pipeline().parameters.Fund_ID}' AND ass.record_deleted_flag = 0;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLauditopsworkbookworksheetlist_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachWorkbookWorksheetEmail",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetEmailDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetEmailDetails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SendEmail",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-19.australiaeast.logic.azure.com:443/workflows/7139728b716a4500b96a2fa094f691fa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=I30JtkHJ6p4mNeMF6USxTdCCjTwTvY1dmmNC2Mvte7o",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n\"messageHeader\":\"@{item().Message_Header}\",\n\"message1\":\"Error Log Table: @{item().Error_Table}\",\n\"message2\":\"Error Count: @{item().Error_Count}\",\n\"message3\":\"If there is error, please check in the Error Log Table\",\n\"message4\":\"Thank you.\",\n\"message5\":\"Datafactory Name: DWH-Prod-ADF\",\n\"message6\":\"Pipeline Name: ProcessOPSWorkbookMaster_pl\",\n\"emailAddress\":\"@{item().Ops_Representative_Email}\",\n\"lastName\":\"@{item().Ops_Representative_Last_Name}\",\n\"firstName\":\"@{item().Ops_Representative_First_Name}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DataFactoryName": {
				"type": "string",
				"defaultValue": "myFactory"
			},
			"PipelineName": {
				"type": "string",
				"defaultValue": "myPipeline"
			},
			"WorkbookName": {
				"type": "string",
				"defaultValue": "Wenita Forestry Products Q4 FY20 V2.xlsx"
			},
			"Asset_ID": {
				"type": "string",
				"defaultValue": "WFP"
			},
			"Fund_ID": {
				"type": "string",
				"defaultValue": "ANZFOF2"
			}
		},
		"annotations": []
	}
}