pipeline/ProcessSourceBlob_opsanswers_spl.json
{
	"name": "ProcessSourceBlob_opsanswers_spl",
	"properties": {
		"activities": [
			{
				"name": "LookupStagingOpsAnswers",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT count(*) Total_Error\n  FROM [staging].[OPS_Answers]\n  WHERE [Validation_Error] IS NOT NULL"
					},
					"dataset": {
						"referenceName": "SQLstagingadjustment_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupStagingOpsAnswers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('LookupStagingOpsAnswers').output.firstRow.TOTAL_ERROR,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "LoadStagingDBtoRelationDB_opsanswers_delete_df",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "LoadStagingDBtoRelationDB_opsanswers_delete_df",
									"type": "DataFlowReference",
									"parameters": {
										"ProcessName": {
											"value": "'@{pipeline().parameters.ProcessName}'",
											"type": "Expression"
										},
										"FileName": {
											"value": "'@{pipeline().parameters.FileName}'",
											"type": "Expression"
										},
										"Etl_Utc_Tag": {
											"value": "'@{pipeline().parameters.Etl_Utc_Tag}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						},
						{
							"name": "LoadStagingDBtoRelationDB_opsanswers_insert_df",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "LoadStagingDBtoRelationDB_opsanswers_delete_df",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "LoadStagingDBtoRelationDB_opsanswers_insert_df",
									"type": "DataFlowReference",
									"parameters": {
										"ProcessName": {
											"value": "'@{pipeline().parameters.ProcessName}'",
											"type": "Expression"
										},
										"FileName": {
											"value": "'@{pipeline().parameters.FileName}'",
											"type": "Expression"
										},
										"Etl_Utc_Tag": {
											"value": "'@{pipeline().parameters.Etl_Utc_Tag}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "UpdateSourceRegisterTableAbort",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[log].[UpdateSourceRegisterFailedAbort]",
								"storedProcedureParameters": {
									"EtlUtcTag": {
										"value": {
											"value": "@pipeline().parameters.Etl_Utc_Tag",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@pipeline().parameters.OriginalBlobName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQLdbConnection",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ProcessName": {
				"type": "string"
			},
			"FileName": {
				"type": "string"
			},
			"Etl_Utc_Tag": {
				"type": "string"
			},
			"OriginalBlobName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}