pipeline/ProcessSourceBlob_pl.json
{
	"name": "ProcessSourceBlob_pl",
	"properties": {
		"activities": [
			{
				"name": "GetUnprocessedBlobFromRegister",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [ORIGINAL_BLOB_LANDING_CONTAINER],\n\t[ORIGINAL_BLOB_NAME],\n\t[ORIGINAL_BLOP_FULLPATH],\n\t[TARGET_BLOB_LANDING_CONTAINER],\n\t[TARGET_BLOB_NAME],\n\t[DATALAKE_CONTAINER],\n\t[DATALAKE_FILE_PATH],\n\t[ORIGINAL_BLOB_ARCHIVE_CONTAINER],\n\t[ORIGINAL_BLOB_ARCHIVE_FULLPATH]\nFROM [log].[SOURCE_REGISTER_TABLE]\nWHERE [ETL_IS_PROCESSED] = 'N'\nAND [ORIGINAL_BLOB_NAME] LIKE 'FIN_MNL_MAST_FUND_%'\nORDER BY [ORIGINAL_BLOB_NAME];"
					},
					"dataset": {
						"referenceName": "SQLsourceRegisterTable_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CheckAndProcessBlobUpdateRegister",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetUnprocessedBlobFromRegister",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetUnprocessedBlobFromRegister').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetBlopPath",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText_sourcelandingraw_ds",
									"type": "DatasetReference"
								},
								"fieldList": [
									"itemName",
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "IsPhysicalFileExist",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetBlopPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetBlopPath').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "UpdateSourceRegisterRun",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[log].[UpdateSourceRegisterRun]",
											"storedProcedureParameters": {
												"FileName": {
													"value": {
														"value": "@{item().ORIGINAL_BLOB_NAME}",
														"type": "Expression"
													},
													"type": "String"
												},
												"JobName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SQLdbConnection",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "UpdateSourceRegisterPassed",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyScrubbedToDataLake",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[log].[UpdateSourceRegisterPassed]",
											"storedProcedureParameters": {
												"FileName": {
													"value": {
														"value": "@{item().ORIGINAL_BLOB_NAME}",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SQLdbConnection",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "CopyScrubbedToDataLake",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "LoadTxtToDBstaging_ds",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings",
													"skipLineCount": 0
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DelimitedText_sourcelandingscrubbed_ds",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DelimitedText_datalake_financial_ds",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "LoadTxtToDBstaging_ds",
										"type": "ExecuteDataFlow",
										"dependsOn": [
											{
												"activity": "UpdateSourceRegisterRun",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "LoadTxtToDBstaging",
												"type": "DataFlowReference"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}