pipeline/ProcessTigermothToStaging_extract_pl.json
{
	"name": "ProcessTigermothToStaging_extract_pl",
	"properties": {
		"activities": [
			{
				"name": "GetUnprocessedForecastAsset",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetEtlUtcTag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [Fund_ID]\n      ,[Asset_ID]\n      ,[DatabaseName]\n      ,[Group_ID]\n      ,[Attribute_id]\n      ,[Origin_id]\n      ,[Asset_Offset]\n      ,[Version_name]\n      ,[IsProcessed]\n\t  ,'sp_FSOPConsolidated' AS sp_FSOPConsolidated\n\t  ,'sp_FSOPEstate' AS sp_FSOPEstate\n\t  ,'sp_FSOPOther' AS sp_FSOPOther\n      ,CONCAT('TGR ', Fund_ID, ' ', Asset_ID, ' ', Version_name, ' spCon ', FORMAT(START_DATETIME,'yyyyMMdd'),'.csv') AS TargetFileName_spFSOPConsolidated\n      ,CONCAT('TGR ', Fund_ID, ' ', Asset_ID, ' ', Version_name, ' spEst ', FORMAT(START_DATETIME,'yyyyMMdd'),'.csv') AS TargetFileName_spFSOPEstate\n      ,CONCAT('TGR ', Fund_ID, ' ', Asset_ID, ' ', Version_name, ' spOth ', FORMAT(START_DATETIME,'yyyyMMdd'),'.csv') AS TargetFileName_spFSOPOther\n      ,CONCAT('TGR ', Fund_ID, ' ', Asset_ID, ' ', Version_name, ' param ', FORMAT(START_DATETIME,'yyyyMMdd'),'.csv') AS TargetFileName_param\n\t  ,ROW_NUMBER() OVER (ORDER BY (SELECT 100)) AS SNO\nFROM [relational].[Forecast_Asset_reference]\nWHERE record_deleted_flag = 0 AND IsProcessed = 0"
					},
					"dataset": {
						"referenceName": "SQLrelationfctrefasset_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SetEtlUtcTag",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Etl_Utc_Tag",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ExtractFrom_parameterTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetUnprocessedForecastAsset",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetUnprocessedForecastAsset').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IfFirstRowDoTruncateTable",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().SNO,1)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "ExtractFromTigermothParameterTable",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "SELECT '@{item().Fund_ID}' AS Fund_ID, '@{item().Asset_ID}' AS Asset_ID, (SELECT Value FROM dbo.tbl_parameter WHERE Parameter = 'DescriptionYear') AS Desc_Year ,  (SELECT Value FROM dbo.tbl_parameter WHERE Parameter = 'YearOffset') AS Asset_offset, '@{item().Version_name}' AS Version_name",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Tigermoth_DB_jao_ds",
												"type": "DatasetReference",
												"parameters": {
													"dbname": {
														"value": "@{item().DatabaseName}",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SQLstagingForecastParam_ds",
												"type": "DatasetReference"
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "ExtractFromParameterTableWithTruncate",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "SELECT '@{item().Fund_ID}' AS Fund_ID, '@{item().Asset_ID}' AS Asset_ID, (SELECT Value FROM dbo.tbl_parameter WHERE Parameter = 'DescriptionYear') AS Desc_Year ,  (SELECT Value FROM dbo.tbl_parameter WHERE Parameter = 'YearOffset') AS Asset_offset, '@{item().Version_name}' AS Version_name",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": "TRUNCATE TABLE staging.Forecast_Param",
												"disableMetricsCollection": false
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Tigermoth_DB_jao_ds",
												"type": "DatasetReference",
												"parameters": {
													"dbname": {
														"value": "@{item().DatabaseName}",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SQLstagingForecastParam_ds",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"Success_Fail_Header": {
				"type": "String",
				"defaultValue": "***SUCCESS***"
			},
			"Etl_Utc_Tag": {
				"type": "String",
				"defaultValue": "2019-10-22"
			}
		},
		"annotations": []
	}
}